/* Load normalize css */
@import "../../node_modules/normalize.css/normalize.css";

/* Load Roboto font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* Variables */
:root {
  --color-primary: #0d6efd;
  --color-secondary: #6c757d;
  --color-acent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-dark: #212529;
  --color-green: #43853d;
  --color-yellow: #efd81d;
  --color-light-blue: #54cded;
}

/* Typografy */

html {
  font-size: 62.5%;
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background: #efefef;
  color: var(--color-body);
  font-size: 2rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4.2rem;
  }

  h3 {
    font-size: 3.8rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

.link {
  display: inline-block;
  color: var(--color-acent);
  transition: 5s ease-in-out;
  line-height: 1;
}

.link::after {
  content: "";
  width: 0;
  height: 2px;
  display: block;
  background: var(--color-acent);
  transition: 300ms;
}

.link:hover::after {
  width: 100%;
}

/* Lists */
.list {
  color: var(--color-headings);
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--center {
  display: flex;
  justify-content: center;
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--secondary {
  fill: var(--color-secondary);
}

.icon--acent {
  fill: var(--color-acent);
}

.icon--dark {
  fill: var(--color-dark);
}

.icon--green {
  fill: var(--color-green);
}

.icon--yellow {
  fill: var(--color-yellow);
  background: var(--color-dark);
  border-radius: 5px;
}

.icon--light-blue {
  fill: var(--color-light-blue);
}

.icon--contact {
  border-radius: 10px;
  padding: 5px;
  transition: all 0.5s;
}

.icon--contact:hover {
  background: lightgray;
}

/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  transition: all 0.5s;
  border-radius: 3px;
}

.collapsible__header__hover:hover {
  background: lightgray;
}

.collapsible__heading {
  margin: 0 0 0 15px;
  font-size: 2.5rem;
}

.collapsible__heading__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.collapsible__shevron {
  transition: all 0.3s ease-in-out;
}

.collapsible--expanded .collapsible__shevron {
  transform: rotate(90deg);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Blocks */
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header {
  text-align: center;
}

.block__heading {
  margin-top: 0;
}

.block--white {
  background: #fff;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}

.block--white .block__heading {
  color: #000;
  margin-bottom: 3rem;
}

.block--dark {
  background: var(--color-dark);
  color: #7b858b;
}

.block--dark .block__heading {
  color: #fff;
}

.block--footer {
  padding: 2rem 0;
  margin: 20px 0 0;
  border-radius: 0;
}

.block--skewed-right {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 95%);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Navigation Bar */
.nav {
  background: #000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 1rem;
  position: fixed;
  z-index: 999;
  width: calc(100vw - 2rem);
}

.nav__container {
  height: 53px;
}

.nav__brand {
  font-size: 3rem;
}

.nav__header {
  margin-top: 0;
  margin-bottom: 0;
  padding: 1rem 0;
  color: white;
}

.nav__list {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
  transition: border 0.3s;
}

.nav__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #fff;
}

.nav__toggler {
  fill: #fff;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.3s;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }
  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.8rem;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    border: 0;
  }
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Hero */
.hero__content {
  align-self: center;
}

.hero__image {
  max-width: 100%;
}

.hero__tagline {
  font-size: 2rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin: 2rem 0;
}

@media screen and (min-width: 768px) {
  .hero__content {
    text-align: left;
  }
}

.border {
  border-bottom: 1px solid #000;
}

/* Scroll icon */
@keyframes scroll_animation {
  0% {
    top: 0px;
  }
  30% {
    top: 50px;
  }
  100% {
    top: 0px;
  }
}

.scroll__icon__frame {
  max-width: 30px;
  height: 80px;
  margin: 5rem auto;
  border-radius: 50px;
  border: 5px solid white;
}

.sroll__icon__ball {
  position: relative;
  height: 20px;
  margin: 5px;
  border-radius: 50%;
  background: white;
  animation: infinite 1s scroll_animation ease-out;
}

@media screen and (min-width: 768px) {
  .scroll__icon__frame {
    margin: 4rem 0;
  }
}
