<div class="collapsible">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon icon--light-dark collapsible__shevron">
      <use xlink:href="icons/sprite.svg#circle-chevron-right-solid" />
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis aliquam
    obcaecati aperiam explicabo architecto, quia neque quidem soluta sunt unde
    voluptatem corrupti ea totam nisi eligendi aspernatur nihil vel. Iste?
  </div>
</div>
