<svg class="icon icon--dark">
  <use xlink:href="icons/sprite.svg#bars-solid" />
</svg>
<svg class="icon icon--primary">
  <use xlink:href="icons/sprite.svg#css3-alt-brands" />
</svg>
<svg class="icon icon--primary">
  <use xlink:href="icons/sprite.svg#docker-brands" />
</svg>
<svg class="icon icon--dark">
  <use xlink:href="icons/sprite.svg#envelope-solid" />
</svg>
<svg class="icon icon--dark">
  <use xlink:href="icons/sprite.svg#github-square-brands" />
</svg>
<svg class="icon icon--acent">
  <use xlink:href="icons/sprite.svg#html5-brands" />
</svg>
<svg class="icon icon--yellow">
  <use xlink:href="icons/sprite.svg#js-square-brands" />
</svg>
<svg class="icon icon--primary">
  <use xlink:href="icons/sprite.svg#linkedin-brands" />
</svg>
<svg class="icon icon--dark">
  <use xlink:href="icons/sprite.svg#linux-brands" />
</svg>
<svg class="icon icon--green">
  <use xlink:href="icons/sprite.svg#node-js-brands" />
</svg>
<svg class="icon icon--light-blue">
  <use xlink:href="icons/sprite.svg#react-brands" />
</svg>
