<section class="block">
    <div class="container">
      <header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, laudantium.
        </p>
      </header>
    </div>
  </section>
  <section class="block block--dark block--skewed-right">
    <div class="container">
      <header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>
         Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum, architecto?
        </p>
              </div>
      </header>
  </section>